@import "./variables"

.header {

display: flex;
background-color: $Linear-gradient;
width: 375px;

}

// .header-navbar{

// }

// .header-navbar__burger{

// }

// .header-navbar__list{

// }

// .header-navbar__list-item{

// }

// .header-navbar__list-link{

// }

// .header-text{

// }