@import "./variables";

.box-image{
margin: auto;
width: 375px;
background-color: $gray;
display: flex;
flex-direction: column;
justify-content: space-between;
text-align: center;
padding-top: 52px;
padding-bottom: 85px;
gap: 75px;

}



.product-card{
background-color: $white;
display: flex;
width: 343px;
flex-direction: column;
border-radius: 24px;
margin-left: 16px;
height: 488px;
}


.product-card--size{
    height: 518px;

}


.product-card__img {
    margin-top: 16px;
    margin-bottom: 20px;
    margin-left: 16px;
    width: 311px;
    height: 278px;
}

.product-card__img--save{
    width: 319px;
    height: 363px;
    margin-left: 12px;
}

.product-card__title{
    color: $gray-text;
    font-family: $font-title;
    font-size: 32px;
    font-weight: $font-medium;
    text-align: start;
    margin-left: 16px;
    margin-bottom: 22px;
    }

.product-card__title--font{
font-size: 24px;
font-weight: $font-bold;

}



.product-card__p{
color: $black;
font-family: $font-text;
font-size: 15px;
font-weight: $font-bold;
text-align: start;
margin-left: 16px;
}

.product-card__p--font{
    font-weight: $font-regular;   
}


.product-card--tablet,
.product-card--desktop
{display: none;
    }


@media (min-width:768px) 

{
    .box-image{
        width: 768px;
        height: 1590px;
        display: grid;
        grid-template-areas: 
        "top top"
        "battom battom-2";
        justify-items: center;
        gap: 0;
    }
.product-card{
    grid-area: top;
    width: 703px;
    height: 680px;
   align-items: center;
   margin-left: 0px;
}

.product-card__img{
    height: 498px;
    width: 663px;
    
}


.product-card--size{
    grid-area:battom-2 ;
    width: 333px;
    height: 634px;
    margin-right: 32px;
 
}

    .product-card--tablet{
        background-color: $white;
        display: flex;
        width: 333px;
        flex-direction: column;
        border-radius: 24px;
        height: 634px;
        grid-area: battom;
        margin-left: 32px;

        }

        .product-card__img--save
        {
            width: 293px;
            height: 448px;
        }
        .product-card__img--tablet {
            width: 293px;
            height: 448px;
        }

        .product-card__title--font{
            font-size: 32px;
            
            }
    } 
   
    @media (min-width:1200px) 

    {
        .box-image{
            width: 1440px;
            height: 1460px;
            display: grid;
            grid-template-areas: 
            "top top top"
            "battom battom-2 battom-3";
            justify-items: center
            ;
            gap: 0;
        }
    .product-card{
        grid-area: top;
        width: 1050px;
       align-items: center;
       margin-left: 0px;
    }
    
    .product-card__img{
        width: 1010px;
    }
    
    
    .product-card--size{
        width: 325px;
        height: 545px;
        grid-area: battom-2;
        // margin-right: 32px;
    }
    
        .product-card--tablet{
            width: 325px;
            height: 545px;
           
    
            }
        .product-card--desktop{
            background-color: $white;
            display: flex;
            width: 325px;
            flex-direction: column;
            border-radius: 24px;
            height: 545px;
            grid-area: battom-3;
            // margin-left: 32px;
        }
            .product-card__img--save
            {
                width: 285px;
                height: 338px;
            }
            .product-card__img--tablet {
                width: 285px;
                height: 338px;
            }
    
            .product-card__title--font{
                // font-size: 32px;
                
                }
        } 
       