//Colors

$black:#202020;
$gray:#3C3C3C;
$white: #ffffff;
$yellow-text:#FAEB49;
$gray-text:#565656;
$black-text:#000;


//Fonts
$font-title: "DynaPuff";
$font-text:  "Manrope";

//Font-waight
$font-regular: 500;
$font-medium: 600;
$font-bold: 700;



