//Colors
$Linear-gradient: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
$black:#202020;
$gray:#3C3C3C;
$white: #ffffff;
$yellow-text:#FAEB49;
$gray-text:#565656;
$black-text:#000;


//Fonts
$font-title: "DynaPuff";
$font-text:  "Manrope";

//Font-waight
$font-regular: 500;
$font-medium: 600;
$font-bold: 700;

//Sizes
$font-size-xxs:14px;
$font-size-xs: 15px;
$font-size-s: 16px;
$font-size-m-1: 20px;
$font-size-m-2: 24px;
$font-size-l-1: 32px;
$font-size-l-2: 36px;
$font-size-xl: 40px;
$font-size-xxl: 48px;
$font-size-xxxl: 80px;

